*
{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.wrapper
{
    display: flex;
    flex-direction: column;
    background-color: #ffffff ;
    border: red 1px solid;
    width: 100%;
    height: 100%;
}
    
    .main
    {
        border: 1px red solid;
        background-color: #ffffff;
        width: 100%;
        height: 800px;
        border: 1px red solid;
    }
    .main h1{
        font-size: 60px;
        font-family: cursive; 
        border: 1px red solid;
        padding-left: 50px;
    }
    .main p{
        font-size: 30px;  
        border: 1px red solid;
        padding-left: 50px;
    }
    .main img{
        position: absolute;
        transition: transform .2s;
        top: 400px;
        left: 600px;
        max-width: 100%;
    }
    .main button{
        position: absolute;
        top: 75%;
        left: 8%;
        width: 18%;
        height: 7%;
        background-color: black;
        color: #ffbf23;
        border-radius: 10px;
        font-size: 20px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    .main button:hover{
        color: black;
        background-color: #ffbf23;
    }
    .main select{
        position: absolute;
        top: 95%;
        left: 8%;
        width: 20%;
        font-size: large;
        background-color: transparent;
        font-family: cursive;
    }
    /*.main option{
        background-color: transparent;
        color: black;
        font-size: large;
    }*/
    .description{
        border: red 1px solid;
        width: 100%;
        height: 770px;
        background-image: url("descback.png");
    }
    .description p{
        background-color: white;
        position: absolute;
        border: red 1px solid;
        top: 65rem;
        left: 30%;
        width: 40%;
        height: 90%;
        font-family: cursive;
        font-size: 1.5rem;
    }
    .description h2{
        background-color: white;
        position: absolute;
        border: red 1px solid;
        left: 30%;
        top: 60rem;
        width: 40%;
        font-family: cursive;
        font-size: 1.8rem;
    }
    .offers{
        height: 750px;
        width: 100%;
        border: 1px red solid;
    }/*
    .offers p:first-of-type{
        position: absolute;
        left: 5%;
        top: 1900px;
    }*/
    .offers .books
    {
        position: absolute;
        left: 5%;
        top: 115rem;
        width: 14rem;
        
    }
    .offers .books:hover{
        border-radius: 50px;
        cursor: pointer;
        box-shadow: 0 0.4rem 1.4rem 0 black;
        transform: scale(1.02);
        transform: transform 100ms;
    }
    .offers .ship{
        position: absolute;
        left: 24%;
        top: 115rem;
    }
    .offers .ship:hover{
        cursor: pointer;
        border-radius: 50px;
        box-shadow: 0 0.4rem 1.4rem 0 black;
        transform: scale(1.02);
        transform: transform 100ms;
    }
    .offers .map{
        position: absolute;
        left: 42%;
        top: 115rem;
        
    }
    .offers .map:hover{
        border-radius: 50px;
        cursor: pointer;
        box-shadow: 0 0.4rem 1.4rem 0 black;
        transform: scale(1.02);
        transform: transform 100ms;
    }
    .offers .pdf{
        
        position: absolute;
        left: 64%;
        top: 115rem;
    }
    .offers .pdf:hover{
        border-radius: 50px;
        cursor: pointer;
        box-shadow: 0 0.4rem 1.4rem 0 black;
        transform: scale(1.02);
        transform: transform 100ms;
    }
    .offers .library{
        position: absolute;
        left: 84%;
        top: 115rem;
    }
    .clients{
        border: 1px red solid;
        height: 600px;
        width: 100%;
        display: flex;
        flex-direction: row;
    }
    .clients .one{
        margin-top: 13%;
        margin-left: 90px;
        border-radius: 20px;
        border: 3px #83677b solid;
        text-align: center;
        height: 300px;
        width: 20%;
        background-color: #DDC3A5;
    }
    .clients .two{
        margin-top: 13%;
        margin-left: 100px;
        border-radius: 20px;
        border: 3px #83677b solid;
        text-align: center;
        height: 300px;
        width: 20%;
        background-color: #DDC3A5;
    }
    .clients .three{
        margin-top: 13%;
        margin-left: 100px;
        margin-right: 50px;
        border-radius: 20px;
        border: 3px #83677b solid;
        text-align: center;
        height: 300px;
        width: 20%;
        background-color: #DDC3A5;
    }
    .price{
        height: 600px;
        width: 100%;
        border: 1px red solid;
        display: flex;
        flex-direction: row;
    }
    .price h1{
        margin-left: 10px;
        font-size: 45px;
        font-family: 'cursive';
    }

    .price .basic{
        margin-top: 100px;
        height: 400px;
        width: 300px;
        margin-left: 50px;
        border: #DDC3A5 3px solid;
        background-color: white;
    }
    .price .premium{
        margin-top: 100px;
        margin-left: 100px;
        height: 400px;
        width: 300px;
        background-color: #DDC3A5;
        
    }
    .price h3{
        margin-top: 100px;
        font-style: italic;
        text-align: center;
    }
