*
{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}



.login{
    height: 600px;
    background-image: url("lib.jpg");
   
    
}
.login .form{
    padding: 10px;
    word-spacing: 10px;
    position: absolute;
    left: 10%;
    top: 50%;
}
.login .form .psw{
    word-spacing: 23px;
}
.login input{
    width: 15rem;
    padding: 0.5rem;
}
.login label{
    width: 200px;
    color: white;
    font-size: 1.5rem;
    font-family: cursive;
}
.login .forget {
    text-align: center;
}
.login .forget a{
    color: black;
    font-size: 1.1rem;
}
.login .logs button{
    width: 100px;
    padding: 8px;
    text-align: center;
    
}
