
.account{
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110vh;
    background-image: linear-gradient(white,rgb(231, 180, 84));
    /* background-image: url("lib.jpg"); */
} 

form{
    box-shadow: 10px 10px 15px 15px  black;
    width: 700px;
    padding: 30px;
   border-radius: 15px;
   background-image: linear-gradient(rgb(231, 180, 84),silver);
   border: red 1px solid;
   background-color: whitesmoke;
    
}
form h1{
    align-items: center;
    color:black;
    font-family: cursive;
}

label, option{
    font-size: 18px;
    padding: 10px;
    /* color: white; */
}

input:not(#gender) {
    width: 15rem;
    padding: 10px ;
    background-color: transparent;
    color: white;
    font-size: 20px;
    border-radius: 5%;
    gap: 5%;
    padding-left: 60px;
    
   
}
#lname{
    padding-left: 10px;
}
  
.account form .finish{
    /* background-color: rgb(253, 212, 135);
    height:50px;
    width:100px;
    border-radius: 20px; */
    float: right;
    padding: 10px 15px;
    font-size: large;
    border-radius: 10px;
    margin-right: 10px;
    color: white;
    background-color: #ffbf23;
    font-weight: 500;
}
.account form .finish:hover{
    background-color: black;
    color: #ffbf23;
}
#search{
    margin-top: 290px;
    margin-left: 30px;
    width: 30px;
    height: 30px;
    background-color: white;
    border: 1px red solid;
}
#img1{
    width: 30px;
    height: 30px;
    background-color: white;    
}
select{
    width: 35%;
    font-size: large;
    background-color: transparent;
    font-family: cursive;
}
@media(max-width:480px){
    .account{
        /* border: 1px solid red; */
        display: flex;
        justify-content: center;
        align-items: center;
        height: 90vh;
        /* background-image: url("lib.jpg"); */
    } 
    form{
        box-shadow: 20px 10px 5px black;
        width: 200px;
        height:500px;
        padding: 30px;
       border-radius: 15px;
       background-image: linear-gradient(rgb(231, 180, 84),silver);
       border: red 1px solid;
        
    }

input:not(#gender) {
    width: 6rem;
    padding: 10px ;
    background-color: transparent;
    color: white;
    font-size: 10px;
    border-radius: 5%;
    gap: 5%;
    padding-left: 20px;
    
   
}
}

@media only screen and (max-width:480px){
    .account{
        /* border: 1px solid red; */
        display: flex;
        justify-content: center;
        align-items: center;
        height: 90vh;
        /* background-image: url("lib.jpg"); */
    } 
    form{
        box-shadow: 20px 10px 5px black;
        width: 350px;
        height:500px;
        padding: 30px;
       border-radius: 15px;
       background-image: linear-gradient(rgb(231, 180, 84),silver);
       border: red 1px solid;
        
    }

input:not(#gender) {
    width: 6rem;
    padding: 10px ;
    background-color: transparent;
    color: white;
    font-size: 10px;
    border-radius: 5%;
    gap: 5%;
    padding-left: 20px;
    
   
}  
}
@media only screen and (min-width:480px) and (max-width:760px){
    .account{
        /* border: 1px solid red; */
        display: flex;
        justify-content: center;
        align-items: center;
        height: 90vh;
        /* background-image: url("lib.jpg"); */
    } 
    form{
        box-shadow: 20px 10px 5px black;
        width: 450px;
        height:500px;
        padding: 30px;
       border-radius: 15px;
       background-image: linear-gradient(rgb(231, 180, 84),silver);
       border: red 1px solid;
        
    }
    input:not(#gender) {
        width: 6rem;
        padding: 10px ;
        background-color: transparent;
        color: white;
        font-size: 10px;
        border-radius: 5%;
        gap: 5%;
        padding-left: 20px;
        
       
    } 
}
